build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
/libs/
!gradle/libs/
!gradle/libs/*.jar
*/.factorypath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
.architectury-transformer/debug.log
src/generated

*.patch
*.DS_Store

